* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #232323;
}

body.hide::-webkit-scrollbar {
  display: none;
}

main img {
  aspect-ratio: 16/9;
}