.playButton, .stopButton {
  display: initial;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: .6;
  transition: opacity .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playButton:not(.onBot) {
  position: absolute;
  padding: 3em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.playButton.onBot, .stopButton {
  position: fixed;
  right: 1em;
  bottom: 1em;
  padding: 1em;
}

.playButton svg, .stopButton svg {
  display: block;
  color: rgb(0,0,0);
}

.playButton:not(.onBot) svg {
  width: 7em;
  height: 7em;
}

.playButton.onBot svg, .stopButton svg {
  width: 3em;
  height: 3em;
}

.playButton:hoverm, .stopButton:hover {
  opacity: 1;
}

.playButton:hover svg, .stopButton:hover svg {
  color: rgba(0,0,0,0.9);
}

.playButton.hidden, .stopButton.hidden {
  display: none;
}
