.controlers {
  position: fixed;
  left: 50%;
  bottom: 0;
  padding: .5em 2em;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2em;
  transform: translateX(-50%);
}

.playButton, .stopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  opacity: .8;
  transition: opacity .3s ease-in-out;
}

.playButton svg, .stopButton svg {
  display: block;
  color: inherit;
}

.playButton:hover, .stopButton:hover {
  opacity: 1;
  color: rgba(255,255,255,0.9);
}

.playButton.hidden, .stopButton.hidden {
  display: none;
}

.slider {
  flex: 1;
}